body {
	background-color: #000;
}

html,
body {
	height: 100%;
	margin: 0;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}

		header img {
			width: 100%;
		}
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* Two columns */
	grid-template-rows: repeat(2, 1fr);
	/* Two rows */
	width: 100%;
	height: 40%;
}

.box {
	color: #f0f0ee;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	border: #434444 15px solid;
	border-radius: 15px;
	margin: 5%;
	/* background-color: #434444; */
}

img {
	width: 200px;
}

div img:hover {
	transform: scale(1.1);
	filter: brightness(1.2);
}
.gallery {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	gap: 10px;
	padding: 50px;
}

.gallery-item {
	flex: 0 0 auto;
	/* Prevent items from shrinking */
	width: 100px;
	/* Adjusted size */
	height: 200px;
	/* Adjusted size */
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* Ensure images cover the area while maintaining aspect ratio */
	transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery-item:hover img {
	transform: scale(1.1);
	filter: brightness(1.2);
}


ul {
	list-style-type: none;
}
ul li a {
	text-decoration: none;
	color: #f0f0ee
	
}

a, a:hover, a:visited {
	color: #f0f0ee;
	text-decoration: none;
}